.tab {
    width: 65px;
    height: 52px;
    @font-size-base: 14px;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 52px;
    letter-spacing: 0px;
    text-align: center;
    color: rgba(0, 0, 0, 0.65);
}

.tabContainer {
    display: flex;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.09);
    width: 146px;
    justify-content: space-between;
}

.activeTab {
    color: #1890FF;
    border-bottom: 3px solid #1890FF;;
}