body, #root {
  min-height: 100%;
}
body {
  margin: 0;
  padding: 0;
  background: #E5E5E5;
}

#root {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.main {
  display: flex;
  background: #fff;
  width: 1010px;
  min-height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
}

h5 {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  margin: 0;
}